<div class='form-check form-switch'>
  <input
    class='form-check-input'
    type='checkbox'
    id='switch'
    {{on 'click' this.onClick}}
    ...attributes
    data-test-switch-input
  />
  <label
    class='form-check-label'
    for='switch'
    data-test-switch-label
  >{{@label}}</label>
</div>