@import 'bootstrap';
@import 'table';

body {
  min-width: fit-content;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background: linear-gradient(0.25turn, #59aed3, #b5c3aa, #f1e750);
}

.main-container {
  width: 94%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.main-header {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  width: 24%;
  font-size: 50px;
  color: #818181;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.main-header:hover {
  color: #302c44;
}

.switches {
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 20px;
}

.new-task-input {
  width: 92%;
  margin: auto;
  text-align: center;
}

.add-task-button {
  min-width: fit-content;
  margin: 15px 50px 15px 50px;
}

.add-task-validation-buttons {
  margin: 15px 50px 15px 50px;
}