@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import 'bootstrap';
@import 'table';

body {
  min-width: fit-content;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background: linear-gradient(0.25turn, #59aed3, #b5c3aa, #f1e750);
}

.main-container {
  width: 70%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.main-header {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  width: 24%;
  font-size: 40px;
  color: #818181;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.main-header:hover {
  color: #302c44;
}

.switches {
  display: inline-block;
  margin: auto;
}

.new-task-input {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 15px;
}

.add-task-button {
  margin: auto;
  display: block;

}

.add-task-validation-buttons {
  margin: auto;
  display: block;
  text-align: center;
  padding-top: 15px;
}

.checked {
  text-decoration: line-through;
  text-decoration-color: #0b192e;
}

.ember-modal-dialog {
  background-color: #57555a;
}