@import 'bootstrap';
@import 'table';

body {
  min-width: fit-content;
}

.main-container {
  background-color: beige;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.edit-task {
  width: 50%;
  margin: auto;
}

.btn.btn-info {
  width: 98%;
  margin: auto;
}