<table class='table'>
  <tbody>
    {{#each @tasks as |task index|}}
      <tr data-test-current-task={{index}}>
        <ShowTasks::Details @currentTask={{task}} />
      </tr>
    {{/each}}
  </tbody>
</table>