<ModalDialog @translucentOverlay={{true}} @onClickOverlay={{this.hideModal}}>
  <h2 class='text-center' data-test-delete-modal-header>Are you sure you want to
    delete this task?</h2>
  <div class='modal-btns add-task-validation-buttons'>
    <Shared::Button
      type='button'
      class='btn btn-secondary'
      @label='✔'
      {{on 'click' this.deleteTask}}
      data-test-confirmation-button
    />
    <Shared::Button
      type='button'
      class='btn btn-secondary'
      @label='✖'
      {{on 'click' this.hideModal}}
      data-test-cancel-button
    />
  </div>
</ModalDialog>