<div class='switches'>
  <Shared::Switch @label='Active' {{on 'click' this.onActiveChoose}} />
</div>
<div class='switches'>
  <Shared::Switch @label='Completed' {{on 'click' this.onCompletedChoose}} />
</div>