{{#if this.isShowAddInput}}
  <form>
    <div class='new-task-input'>
      <input
        type='description'
        class='form-control'
        id='description'
        aria-describedby='description'
        value={{this.newTaskDescription}}
        {{on 'input' this.onDescriptionChange}}
      />
    </div>
    <div class='add-task-validation-buttons'>
      <Shared::Button
        type='submit'
        class='btn btn-secondary'
        @label='✔'
        {{on 'click' this.addNewTask}}
      />
      <Shared::Button
        type='submit'
        class='btn btn-secondary'
        @label='✖'
        {{on 'click' this.onCancel}}
      />
    </div>
  </form>
{{/if}}