<Shared::Button
  type='button'
  class='btn btn-secondary'
  {{on 'click' this.onDelete}}
  @label='✖'
  data-test-delete-button
/>
{{#if this.isShowModal}}
  <span data-test-delete-modal>
    <ShowTasks::Details::DeleteButton::DeleteModalDialog
      @currentTask={{@currentTask}}
      @hideModal={{this.hideModal}}
    />
  </span>
{{/if}}